@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 27deg 48% 50%;
    --color-secondary: 44deg 21% 83%;
    --color-grey: 184deg 11% 18%;
    --color-dark: 194deg 13% 10%;
  }
}
